* {
  margin: 0;
  box-sizing: border-box;
}

.iniciobody {
  background-image: linear-gradient(#e0e011, #e0e011, #7e7979, #ffffff, #000000);
}

nav {
  font-size: x-large;
  font-family: sans-serif;
}
nav .logo {
  width: 380px;
  height: 90px;
}
nav .imagentop {
  background-image: linear-gradient(#7e7979, #e0e011);
}
nav .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  padding: 1rem;
}
main .estilo {
  margin-top: 10px;
  text-align: center;
  color: #6f9c41;
}

.parrafoo {
  margin-top: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  font-family: cursive;
}

.acomodandocarousel {
  text-align: center;
  margin-left: 50px;
}

.titulo {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #165a6e;
  text-align: center;
  padding: 1rem;
}

.parrafotarj {
  margin-top: 20px;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
}

.tarjetas {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.tarjetas .card {
  align-items: center;
  background-color: #87805E;
  width: 20rem;
}
.tarjetas h4 {
  color: #050505;
  font-family: Courier, monospace;
  align-items: stretch;
  text-align: center;
}
.tarjetas .image {
  width: 180px;
  height: 170px;
  border-radius: 1rem;
}
.tarjetas p {
  text-align: center;
}
.tarjetas ol {
  list-style: unset;
}
.tarjetas .boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .colortextofooter {
  color: #000000;
}

@media (max-width: 600px) {
  .iniciobody {
    background-image: linear-gradient(#DCD7C9, #A27B5C, #3F4E4F);
  }

  .logoo {
    width: 250px;
    height: 70px;
    margin-left: 38px;
  }

  .ulheader {
    margin-top: auto;
    font-size: medium;
    list-style: circle;
  }

  .parrafoo {
    margin-top: 15px;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
    font-family: italic;
  }

  .titulo {
    color: #000000;
    border: solid orangered 2px;
    border-radius: 1rem;
    width: 300px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
  }

  .parrafotarj {
    margin: auto;
    -moz-column-count: 1;
    -moz-column-gap: 5px;
    -webkit-column-count: 1;
    -webkit-column-gap: 5px;
    column-count: 1;
    column-gap: 5px;
  }

  .tarjetas {
    display: flex;
    flex-direction: column;
  }

  .alineartexto {
    text-align: center;
  }

  .card {
    margin-top: 30px;
  }
}
.bodygraficos {
  background-image: linear-gradient(#1A4D2E, #FF9F29, #FAF3E3);
  margin: 20px auto;
  width: 98%;
  max-width: 1440px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "logomedia logomedia logomedia" "header header header" "main main main" "sectiongraf sectiongraf sectiongraf" "footer footer footer";
}

.logomedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: logomedia;
}

.header {
  background-color: #7edfb2;
  grid-area: header;
}
.header ul {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-family: serif;
  list-style: none;
  margin: 10px;
  color: black;
}
.header ul .nav {
  transition-duration: 4s;
}
.header ul .nav:hover {
  background-color: #A5BECC;
  transition-duration: 3s;
}

main {
  grid-area: main;
}
main .titulograf {
  font-size: 3rem;
  font-family: cursive;
  text-align: center;
  color: #000000;
}
main .parrafograficos {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
main .img-fluid {
  text-align: center;
  color: white;
}

.sectiongraf {
  grid-area: sectiongraf;
}

.container {
  grid-area: footer;
}

.iniciograficos {
  color: #1A4D2E;
}

.sectiongraf .titulo2 {
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.sectiongraf .card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  align-content: center;
  margin: auto;
}
.sectiongraf .card-group .cardgraf {
  margin: 25px 15px 0 15px;
}
.sectiongraf .card-group .card-title {
  font-size: 2rem;
  color: #1A4D2E;
  margin: 10px;
}
.sectiongraf .card-group .card-text {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.alineartexto {
  text-align: center;
}

@media (max-width: 400px) {
  .bodygraficos {
    background-image: linear-gradient(#df4f4f, #FF9F29, #FAF3E3, #FF9F29);
    padding: 0;
    box-sizing: border-box;
  }
  .bodygraficos .logo {
    margin-left: 30px;
    width: 250px;
    height: 70px;
  }
  .bodygraficos .titulograf {
    text-align: start;
    font-size: 1.55rem;
  }
  .bodygraficos .parrafograficos {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
  }
  .bodygraficos .imagen1graficos {
    margin: auto;
    width: 300px;
    height: 200px;
  }
  .bodygraficos .sectiongraf {
    margin: auto;
  }
  .bodygraficos .card-group {
    display: flex;
    flex-direction: row;
    margin-top: 600px;
  }
  .bodygraficos .cardgraf {
    width: 300px;
  }
  .bodygraficos .footer {
    margin-top: 650px;
  }
}
.bodycursos {
  background-image: linear-gradient(#d62d2d, #d62d2d, white, white, white, #636161, black);
}

.contenedorcursos .headercursos {
  background-color: #d62d2d;
  grid-area: header;
}
.contenedorcursos .headercursos ul {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-family: serif;
  list-style: none;
  margin: 10px;
}
.contenedorcursos .headercursos ul .nav {
  transition-duration: 4s;
}
.contenedorcursos .headercursos ul .nav:hover {
  background-color: #9b1818;
  transition-duration: 3s;
}
.contenedorcursos .headercursos ul a {
  color: #100da3;
}

.pgraf {
  font-size: 2rem;
  font-family: cursive;
  text-align: start;
}

.imagecursos {
  text-align: center;
}

.titulo-sec {
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.parrafocursos {
  margin-top: 30px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 20px;
  color: #3F4E4F;
}

.titulo-terc {
  color: #3F4E4F;
}

.titulo-interior {
  color: #508cdb;
}

.titulo-interior1 {
  color: white;
}

.colortextofooter-cursos {
  color: white;
  margin-left: 60px;
}

@media (max-width: 400px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu .nav {
    color: #ffffff;
    font-size: 1rem;
  }

  .pgraf {
    font-size: 1rem;
    margin: auto;
    color: #7edfb2;
  }

  .imagecursos-media {
    width: 280px;
    height: 180px;
    margin: auto;
  }

  .titulo-sec {
    color: white;
    font-size: 1.5rem;
  }

  .parrafocursos {
    margin: auto;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
    color: #000000;
  }

  .titulo-interior {
    color: #000000;
  }

  .titulo-interior1 {
    color: #000;
  }
}