*{
    margin: 0;
    box-sizing: border-box;
}

.iniciobody{
    //background-color: map-get($map: variables.$palette, $key:'one' );//
    background-image: linear-gradient(#54BAB9,#18978F,#54BAB9,#54BAB9);
}