*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    //background-color: map-get($map: variables.$palette, $key:'one' );//
    background-image: linear-gradient(#ffffff,#f8efef ,#ff0000,#ffa500);
    
}