@use 'reset';
@use 'navbar';
@use 'main';
//@use 'animacion';
@use 'variables';

.titulo{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: variables.$three;
    text-align: center;
    padding: 1rem;
}
.parrafotarj{
    margin-top: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: variables.$one;
}
.tarjetas{
    margin-top: 40px ;
    display: flex;
    justify-content: space-around;
    .card{
        align-items: center;
        background-color:#87805E;
    }
    .img{
       width: 315px;
       height: 200px;
       border-radius: 1rem;
    }
    h4{
        color: #050505;
        font-family: Courier, monospace;
        align-items: stretch;
        text-align: center;
    }
    p{ 
        text-align: center;

    }
    ol{
        list-style: unset;
    }
   .boton{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}
.container{
    
    .colortextofooter{
        color: #000000;
        
    }
}

